body{
	font-family: 'Raleway', sans-serif;
}

header{
	background: url("../imagen/fondo.png") no-repeat; 
	height:350px;		
	
}

#logotipo{
	margin-top: 30px;


}

header .nav-link{
	margin-top: -25px;
	font-size: 13px;

	color: #fff;

}
header .nav-link:hover{
background: #fff;
padding-top: #31344e;

}
header .nav{
	justify-content: flex-end;
}
header .p1{
	font-size: 30px;
	text-align: center;
	color: #fff;

	
}
header .p2{
	font-size: 10px;
	text-align: center;
	color: #fff;
	border: 2px ;
	
}
header .boton1{
	font-size: 15px;
	margin-top: -25px;

	background: url("../imagen/boton.png");



	color: #fff;
}
header .boton1:hover{
background: #e84545;
padding-top: #e84545;


}

}
header .cuadro1{
	width: 50px;
	border: 1px solid #333;
}
header #txt1{
	font-size: 30px;
}
header #txt2 {
	font-size: 15px;

}

#line1 {
	font-size: 65px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#line2 {
	font-size: 65px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#linea3 {
	font-size: 22px; 
	color: #fff;
	text-align: center;
}
#text4 {
	font-size:  22px;
	color: #fff; 
	text-align: center;
}
#boton{
	margin-top: 80px;}


